@mixin primary-cta {
	border-radius: .2em;
	background: linear-gradient(180deg, rgba(71,157,210,100), rgba(0,108,181,100));
	padding: .2em .5em .4em;
	color: $white;
} 

@mixin when-screen-is ($of-type) {

    @if $of-type == mobile {
        @media only screen and (max-width: 480px) { @content; }
    }

    @else if $of-type == portable {
        @media only screen and (min-width: 481px) and (max-width: 800px) { @content; }
    }

    @else if $of-type == desk {
        @media only screen and (min-width: 801px) { @content; }
    }

    @else if $of-type == not-mobile {
        @media only screen and (min-width: 481px) { @content; }
    }

    @else if $of-type == not-desk {
        @media only screen and (max-width: 800px) { @content; }
    }

}


@mixin gradient-ltr ($from: #333, $to: #ccc) {
    background: $from; /* Old browsers */
    background: -moz-linear-gradient(left,  $from 0%, $to 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  $from 0%,$to 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  $from 0%,$to 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$to',GradientType=1 ); /* IE6-9 */

}