@import '../shared/sass/mixins';

//@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,700);
//@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,700);

//$font-headers:		'', sans-serif;
//$font-paragraph: 	'', sans-serif;

/*  margin & padding */
$marginBottom: 		20px;
$padding-unit:		20px;
$half-padding-unit: $padding-unit / 2;

/* colours */
$black				:	#000;
$red				:	#990000;
$blue-dark			:	#0789f4;
$blue-light			:	#d5ebfb;


body {
	//font-family: $font-paragraph;
	margin: 0;

	h1, h2 {
		//font-family: $font-headers;
	}

	p, h3 {
		//font-family: $font-paragraph;
	}

	.container > * {
		box-sizing: border-box;
	}

	a {
		&:link,
		&:visited,
		&:focus {
			//color: ;
		}
	}

	.clearfix:after {
	  content: "";
	  display: table;
	  clear: both;
	}

	.centre {
		text-align: center;
	}

	.right {
		text-align: right;
	}

	.left {
		text-align: left;
	}

	.absolute {
		position: absolute;
	}

	.relative {
		position: relative;
	}

	.pad {
		padding: 1em;
	}

	.mgn {
		margin: 1em;
	}

	.bottom-margin {
		margin-bottom: $marginBottom; 
	}

	.absoluteHorizonalCentre {
		position: absolute;
		left: 50%;

		> * {
			position: relative;
			left: -50%;
		}
	}

	.index-priority {
		position: relative;
		z-index: 1;
	}
}
