@import '../../shared/sass/mixins';
@import '../global';

$menu-height	:	40px; 
$padding-unit	:	1rem;

header {
	height: $menu-height;
	background: #333;
}
section {
	position: fixed;
	left: 0;
	right: 0;
	top: $menu-height;
	bottom: $menu-height;
	padding: 0 $padding-unit;
	
	.section {
		&-terminal {
			background: #333;
			color: #fff;

			display: flex;
			flex: 1;
			flex-direction: column;

			overflow-y: auto;
			height: 100%;
		}

		div {
			width: 100%;
		}
	}
}

footer {
	height: $menu-height;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	display: table;
	width: 100%;

	@include gradient-ltr($blue-dark, $blue-light);

	input {
		padding: 2px;
		font-size: 22px;
		width: 100%;
		margin-top: 3px;
		margin-left: 2px;
	}

	button {
		position: relative;
		top: -3px;
		margin-right: -1px;
	}

	.table-row {
		display: table-row-group;
	}

	.search-container {
		display:table-cell;
	}

	.button-container {
		display:table-cell;
		width:54px + 30px;
	}


}

.primary-btn {
	-moz-box-shadow:inset 0px 0px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 0px 0px 0px #ffffff;
	box-shadow:inset 0px 0px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
	background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
	background-color:#ededed;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:8px 30px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;

	&:hover {
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
		background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
		background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
		background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
		background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
		background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
		background-color:#dfdfdf;
	}
}

/* OVERRIDE STYLES SET OUTSIDE OF COMPONENT */

@media (min-width: 768px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  	.container {
    	width: 100%;
	}
}

.terminal input {
	color: $black;
}

	
